/* purgecss start ignore */
@tailwind base;

@layer base {
  html,
  body {
    @apply font-sans text-16 h-full;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply flex flex-col text-14;
  }

  h1 {
    @apply text-32 font-semibold tracking-3 leading-1.1;
  }

  h2 {
    @apply text-24 font-semibold tracking-2 leading-1.4;
  }

  h3 {
    @apply text-20 font-semibold tracking-2 leading-1.4;
  }

  h4 {
    @apply text-16 font-semibold tracking-2 leading-1.4;
  }

  .subtitle {
    @apply text-16 font-normal tracking-2 leading-1.5;
  }

  p,
  .body {
    @apply text-14 font-normal tracking-1 leading-1.5;
  }
  .body-highlight,
  .body.highlight,
  .highlight {
    @apply text-14 font-bold tracking-1 leading-1.5;
  }

  .small {
    @apply text-12 font-normal tracking-1 leading-1.5;
  }
  .small-highlight,
  .small.highlight {
    @apply text-11 font-bold uppercase tracking-6 leading-1.5;
  }

  .link {
    @apply text-accent1-900 underline cursor-pointer;
  }

  strong {
    @apply font-bold;
  }

  code {
    @apply text-14 font-mono tracking-2 leading-1.2;
  }

  mark {
    @apply bg-accent3-200;
  }

  .blur {
    filter: blur(4px);
  }

  button,
  a,
  *[data-action^='click'] {
    @apply cursor-pointer;
  }

  svg,
  .icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }
}
@tailwind components;

@layer components {
  .imageContainer {
    width: 100px;
  }

  .imageContainer > span {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
/* purgecss end ignore */
@tailwind utilities;
